*{
    margin: 0;
    padding: 0;
}
.navigation{
    background-color: green;
    background-size: 50px;
    display: flex;
    justify-content: space-between;
} 
.menu{ font-size: 25px;
    display: flex;
    justify-content: space-between;
}
.menu li a{
    list-style: none;
    text-decoration: none;
    color: #000;
}
.logo{
    height: 20px;
}

.row1{ width: 80%;
    margin: 100px 50px;

}
.row1-column1{ 
    background-image: url(./images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
banner-text{

}